{
    "root": true,
    "parser": "",
    "plugins": [],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "semi": "error",
        "quotes": [2, "single", { "avoidEscape": true }]
    }
}